extends main

block content
    .userInfo
        form(action="/user/edit", method="post")
            ul
                li="이름    "+user.userName
                li="생년월일    "+user.birth
                if(user.sex === 0)
                    li="성별    남자"
                else
                    li="성별    여자"
                div#appendAccom
                    input(type="button", value="accompanier info edit", onclick="accomAppend(this.form)")
                input(type="submit", value="update")
    .add
        form(action="/user/edit", method="post")
            input(type="submit", value="등록")