extends main

block content
    .medicineList
        .medicineTake 복용 중인 약
        .listOut

            for schedule in schedules
                .block
                    .schedule
                        .scheduleName
                            a(href="/medicines/"+`${schedule.scheID}`).a=schedule.scheName
        
        form(action='/medicines/addForm' method='GET')
            input.Rectangle-add(type="submit", value="추가")
