.medicineName {
    width: 375px;
    height: 166px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #2699fb;
    padding-right: 17px;
}
.firstbox {
    padding-top: 36px;
    padding-left: 16px;
}
.Path-10 {
    width: 16px;
    height: 16px;
    background-color: #2699fb;
    font-family: KoPubWorldDotum;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.clearboth {
    clear: both;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.secondbox {
    padding-top: 30px;
    padding-left: 87px;
}
.medicineName-name {
    height: 31px;
    font-family: KoPubWorldDotum;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.startDate {
    height: 37px;
    width: 375px;
    background-color: #ffffff;
}
.startDateInner {
    height: 20px;
    font-family: KoPubWorldDotum;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    padding-left: 19px;
}
.startDateBeforeHr {
    height: 0.57px;
    width: 375px;
    background-color: #ffffff;
}
.startDateBox {
    height: 12.5px;
    width: 375px;
    color: #ffffff;
}
.startDateReal {
    height: 15px;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    padding-left: 19px;
}

.startDateIntake {
    height: 32px;
    width: 375px;
    color: #ffffff;
}

.intake {
    height: 20px;
    font-family: KoPubWorldDotum;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    padding-left: 19px;
}
